<p>
  events works!
</p>


{{events.length}}



<!-- All div Everything should be in container-->
<div class="container">

      <h1> Events </h1>
  <div class="row">

      <div class="col-sm-6 col-md-3" *ngFor ="let event of events">
        <div class="thumbnail">
          <div class="caption">
            <p class="title">{{event.name}}</p>
            <p class="description">{{event.description}}</p>
            <div class="clearfix">
                <a href="#" class="btn btn-primary">Buy Tickets</a>
            </div>

            <div class="footer">
              {{event.date | date : 'shortDate'}}
            </div>
        </div>
        </div>
      </div>
</div>
</div>
